<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ModelContextConnString" connectionString="Data Source=118.25.2.64;Initial Catalog=DoshineMP_Test;User ID =sa;pwd =doshine800/" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--数据库中该终端的名称-->
    <add key="termailname" value="DoshineWechatService" />
    <add key="servertermailname" value="ServerService" />
    <!--服务号信息-->
    <add key="appid" value="wx0de9ab6e86d08d90" />
    <add key="appsecrect" value="884865cf622c0b41255dd0ba5d734695" />
    <!--企业号信息-->
    <add key="eid" value="wx0de9ab6e86d08d90" />
    <add key="esecrect" value="884865cf622c0b41255dd0ba5d734695" />  
    <add key="repairhelperagentid" value="23" />
    <!--显示历史报修记录数量-->
    <add key="historyrepaircount" value="7" />
    <!--基础链接-->
    <add key="baseUrl" value="http://test.airtu.me/webs/Doshinemp" />
    <!--短信信息-->
    <add key="smname" value="413457497" />
    <add key="smpwd" value="11C069584B003074CE88ADA87C95" />
    <add key="smsign" value="桑田智能" />
    <!--验证码短信的基础文字-->
    <add key="identifyingcodebasestring" value="亲爱的用户，您的验证码是{0}。30分钟有效，请勿转发他人。" />
    <!--微信js是否为debug状态-->
    <add key="isjsdebug" value="false" />
    <!--图片下载路径-->
    <add key="downimgpath" value="~/Uploadimgs/" />
    <!--图片基址-->
    <add key="httpimgpath" value="https://www.airtu.me/DoShineMP/Uploadimgs/" />
    <!--维保消息接收名单，若有多个用,分割-->
    <add key="repairworkers" value="doshine005|doshine171|doshine100|doshine026" />
    <!--<add key="repairworkers" value="doshine026"/>-->
    <!--客服名称，数据库中记录-->
    <add key="customsservername" value="doshine" />
    <!--企业号报修通知模板-->
    <add key="repairnoticemodelforworker" value="收到新的报修申请，请注意查看！\n&lt;a href=\&quot;https://www.airtu.me/DoShineMP/PhoneWeb/RepairDetailsInterior?repairid={0}\&quot;&gt;点击查看&lt;/a&gt;" />
    <!--WebDebug调试-->
    <add key="isWebDebug" value="false" />
    <!--在线客服欢迎语句-->
    <add key="welcome" value="有问题，找桑田。非常高兴为您服务，您的满意是我们不断追求的目标！" />
    <!--报修页眉-->
    <add key="titleurl" value="http://www.baidu.com" />

  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>