/* 
* @Author: 晴
* @Date:   2015-12-29 17:30:41
* @Last Modified by:   晴
* @Last Modified time: 2016-01-05 15:07:56
*/
body {
    font-family: 'Microsoft YaHei','微软雅黑';
        background-color: #ececec;
}

.keep-list {
    background-color: #ececec;
}

.keep-list-in {
}

.list-top {
    padding: 10px 15px 20px;
    background-color: white;
    margin:10px 0px;
}

.keep-list-in .top-title {
    line-height: 26px;
    font-size: 14px;
    color: #a8a8a8;
    border-bottom: 1px solid #ddd;
}

.top-content p {
    /*min-height: 50px;*/
    color: #333;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
}

.list-top .img-content {
    width: 100%;
    height: 100%;
    text-align: left;
}

.img-content img {
    margin-bottom: 5px;
    height: 100px;
    width: 30%;
}

.list-bottom {
    padding: 0px 15px 15px;
    background-color: white;
}

.bottom-title {
    font-size: 14px;
    color: #333;
}

    .bottom-title p {
        padding: 12px 0 0;
    }

.state {
    height: 80px;
    position: relative;
    overflow: hidden;
}

    /* 状态跟踪 圆圈 css*/


    .state .line {
        width: 100%;
        position: absolute;
        top: 30px;
        border-top: 2px solid #ccc;
    }

    .state .line-current {
        width: 100%;
        position: absolute;
        left: -70%;
        top: 30px;
        border-top: 2px solid #1ec462;
    }

.state-ul li {
    position: absolute;
    top: 26px;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    z-index: 999;
}

    .state-ul li.current {
        background-color: #1ec462;
    }

    .state-ul li:nth-child(1) {
        left: 0;
    }

    .state-ul li:nth-child(2) {
        left: 30%;
    }

    .state-ul li:nth-child(3) {
        left: 62%;
    }

.state-time li:nth-child(4) {
    right: 17%;
}

.state-ul li:nth-child(4) {
    width: 20px;
    height: 20px;
    right: 0;
    top: 21px;
    background: url(../Images/wancheng2.jpg) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}

.state span {
    float: left;
    width: 25%;
    height: 20px;
    line-height: 20px;
    text-align: center;
}


/* 状态跟踪 文字 css*/


.state-time li {
    position: absolute;
    top: 55px;
    z-index: 999;
    color: #a8a8a8;
    font-size: 13px;
}

    .state-time li:nth-child(1) {
        left: 1%;
    }

    .state-time li:nth-child(2) {
        left: 28%;
    }

    .state-time li:nth-child(3) {
        left: 58%;
    }

    .state-time li:nth-child(4) {
        right: 4%;
    }

    .state-time li.current {
        color: #1ec462;
    }

.state-ul li.current:nth-child(4) {
    width: 15px;
    height: 15px;
    right: 0;
    top: 23px;
    background: url(../Images/wancheng.jpg) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
}


/*状态跟踪  横条状态*/

.state .left-one {
    left: -38%;
}

.state .left-two {
    left: 0;
}


/*back*/
.back {
    background-color: #fff;
    padding: 0 15px 20px;
    padding-bottom: ;
    margin:10px 0;
}

.back-title {
    font-size: 16px;
    color: #797979;
    padding: 15px 0 5px;
}

    .back-title p {
        margin-bottom: 0;
        color: #797979;
        /*border-top: 1px solid #ddd;
        margin-top: 25px;
        padding-top: 20px;*/
    }

.back-content {
    padding: 10px 0;
    color: #333;
}

.state-in {
    width: 70%;
    height: 80px;
    margin: 0px auto;
    overflow: hidden;
    position: relative;
}

.back-content span {
    color: #1ec462;
}


/*表单 css*/

.keep-content-t {
    background-color: white;
    padding: 0 15px 15px;
    margin:10px 0px;
}

.keep-title {
    font-size: 30px;
    color: block;
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
}

.keep-textarea textarea {
    width: 100%;
    height: 100px;
    padding: 5px;
    background-color: white;
    border-color: #bdbdbd;
    resize: none;
    border: 0;
    font-size: 14px;
    background: white;
    border: 1px dashed #ddd;
}

.operate {
    padding-top: 10px;
    padding-bottom: 30px;
    display:none;
    /*display: table;*/
}

    .operate input {
        margin-top: 15px;
        border-radius: 5px;
        outline: none;
        border: 0;
    }

.br {
    display: block;
    border-top: 1px solid #d1d1d1;
}

.commit,
.DateTime {
    width: 100%;
    display: block;
    font-size: 16px;
    text-align: center;
    line-height: 38px;
    /*display: table-cell;*/
    color: white;
    background-color: #4ca329;
}

.operate .countermand {
    border: 1px solid #bdbdbd;
    background: white;
}




.content {
    padding: 40px 15px 0px;
    background-color: white;
    overflow: hidden;
}

.demos {
    height: 30px;
    padding: 0 15px;
    text-align: center;
}

.demos input{
    margin：0 auto;
    height: 100%;
    text-align: center;
    border: 0;
    font-size: 16px;
    color: #4ca329;
    trnasition:all .8s linear 0s;
}
        .demos .animated{
            animation:tada 1.2s ease-out 0s;
            -webkit-animation:tada .6s ease-out 0s 1;
            -o-animation:tada .6s ease-out 0s 1;

        }
        .demos .animated2{
            animation:tada2 1.2s ease-out 0s;
            -webkit-animation:tada2 .6s ease-out 0s 1;
            -o-animation:tada .6s ease-out 0s 1;

        }

        @-webkit-keyframes tada2 {
	        0% {
		        -webkit-transform: scale3d(1,1,1);
		        transform: scale3d(1,1,1)
	        }

	        10%,20% {
		        -webkit-transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);
		        transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg)
	        }

	        30%,50%,70%,90% {
		        -webkit-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);
		        transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg)
	        }

	        40%,60%,80% {
		        -webkit-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);
		        transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg)
	        }

	        100% {
		        -webkit-transform: scale3d(1,1,1);
		        transform: scale3d(1,1,1)
	        }
        }

@keyframes tada2 {
	0% {
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1)
	}

	10%,20% {
		-webkit-transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);
		transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg)
	}

	30%,50%,70%,90% {
		-webkit-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);
		transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg)
	}

	40%,60%,80% {
		-webkit-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);
		transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg)
	}

	100% {
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1)
	}
}
@-webkit-keyframes tada {
	0% {
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1)
	}

	10%,20% {
		-webkit-transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);
		transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg)
	}

	30%,50%,70%,90% {
		-webkit-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);
		transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg)
	}

	40%,60%,80% {
		-webkit-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);
		transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg)
	}

	100% {
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1)
	}
}

@keyframes tada {
	0% {
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1)
	}

	10%,20% {
		-webkit-transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg);
		transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg)
	}

	30%,50%,70%,90% {
		-webkit-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);
		transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg)
	}

	40%,60%,80% {
		-webkit-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);
		transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg)
	}

	100% {
		-webkit-transform: scale3d(1,1,1);
		transform: scale3d(1,1,1)
	}
}

.keep-textarea {
    padding: 0px 15px 0 15px;
    text-align: center;
}

.marginB {
    padding-top: 30px;
}

/* informant css*/
.informant {
    margin: 10px 0;
     padding: 0px 15px 15px;
    background-color: #fff;
}

    .informant p {
        margin: 0;
        line-height: 24px;
        color: #333;
    }

        .informant p a {
            color: #333;
        }
       .informant p span{
           color:#898989;
       }
.choose {
    width: 100%;
    background-color: white;
    padding: 0 15px 30px;
    margin:10px 0;
}

.service {
    overflow: hidden;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

    .service li {
        float: left;
        padding: 5px 10px;
        background-color: white;
        color: #333;
        border: 1px solid #1ec462;
        border-radius: 15px;
        margin-right: 5px;
        transition: all .6s linear 0s;
        -webkit-transition: all .6s linear 0s;
    }

.choose h4 {
    font-size: 14px;
    padding: 15px 0px 15px 0px;
    color: #333;
}

.choose-title .choose-input {
    width: 100%;
    padding-top: 10px;
    min-height: 95px;
    border: 0;
}

.service li.current {
    background-color: #1ec462;
    color: white;
}

.choose-photo {
    overflow: hidden;
}

    .choose-photo img {
        width: 31%;
        height: 100px;
        float: left;
        margin-right: 5px;
        margin-top: 5px;
    }

.add-photo {
    width: 60px;
    height: 60px;
    border: 1px dashed #ccc;
    margin-right: 0px;
}

.content-title-b .check5 {
    background: url(../Images/quxiao.png) no-repeat 0 0px;
    background-size: contain;
    -webkit-background-size: contain;
    color: #f1514e;
}

.label {
    color: #797979;
}

.keep-textarea .getplay {
    height: 50px;
    background-color: #eee;
    border: 0;
    padding: 5px 10px;
    color: #797979;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #797979;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #797979;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #797979;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #797979;
}

.state .left-two2 {
    left: 0;
    border-color: #f1514e;
}

.state-time li.current2 {
    color: #f1514e;
}

.state-ul li.current2 {
    background-color: #f1514e;
}

.bd ul.current {
    background: url(../../Images/weiyou.png) no-repeat center center;
}
.demos input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #4ca329;
}

.demos  input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #4ca329;
}


/* Modal css*/
.modal-title{
    padding:10px 0px;
    overflow:hidden;
}
.modal-left{
    float:left;
}
.modal-right{
    float:right;
}
.modal-left .modal-l-top{
    color:#333;
    font-size:16px;
}
 .modal-l-top img{
     margin-right:6px;
     width:28px;
     height:28px;
     position:absolute;
 }
  .modal-l-top p{
      padding-left:38px;
  }
 .modal-tips{
     padding-left:38px;
     color:#a8a8a8;
 }
 .time-href{
     display:block;
     padding:10px 15px;
     color:#59b759;
     border:1px solid #59b759 ;
     border-radius:6px;
 }
 a:link{
text-decoration:none;
}
 .modal-header{
    border-bottom: 1px solid #ddd;
    border-radius: 6px;
 }
.nodal-c-title p{
    width:50%;
    display:inline-block;
    font-size:14px;
 }
.nodal-c-title{
    padding-bottom:15px;
}
.smallbr{
    display:block;
    border-bottom:1px solid #ddd;
    transform:scale(1,0.5);
    -wenkit-transform:scale(1,0.5);
}
.modal-center{
    padding-bottom:20px;
    background-color:#f9f9f9;
    padding:15px;
}
.modal-c-body{
    padding-bottom:25px;
    transition:all .4s linear 0s;
    -webkit-transition:all .4s linear 0s;
}
.modal-c-body p{
    padding:15px 0px;
}
.modal-c-body-img img{
    width:28%;
    height:auto;
    margin:0px 5px;
}
.modal-c-body-img img:nth-last-child(){
    margin-right:0px;
}
.modal-inpit {
    display:none;
}
.modal-inpit input{
    padding:10px 0;
    outline:none;
    border:0;
    padding-left:15px;
}

.modal-dialog{
    margin: 30px 10px 0px;
}
@media screen and (max-width:320px){
    .modal-c-body{
        padding:0px;
    }
    .modal-dialog {
    margin: 0px 10px 0px;
}
}
@media screen and (min-height:500px){
        .modal-dialog {
    margin: 25px 10px 0px;
}
}