
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="~/Styles/Register.css" rel="stylesheet" />
}

<div class="col-xs-12 touxiag">
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img src="~/Images/touxiang.jpg" class="media-object img-rounded" />
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">昵称昵称</h4>
            <span>手机号:13911111111</span>
        </div>
    </div>
</div>


<div class="col-xs-12">
    <ul class="list-group">
        <li class="list-group-item">
            <span class="glyphicon  glyphicon-star-empty"></span>
            我的发起
            <span class="glyphicon  glyphicon-menu-right pull-right"></span>
        </li>
        <li class="list-group-item">
            <span class="glyphicon  glyphicon-thumbs-up"></span>
            我的支持
            <span class="glyphicon  glyphicon-menu-right pull-right"></span>
        </li>
        <li class="list-group-item">
            <span class="glyphicon  glyphicon-star-empty"></span>
            我的关注
            <span class="glyphicon  glyphicon-menu-right pull-right"></span>
        </li>
    </ul>
</div>

<div class="col-xs-12">
    <ul class="list-group">
        <li class="list-group-item">
            <span class="glyphicon  glyphicon-usd"></span>
            我的钱包
            <span class="glyphicon  glyphicon-menu-right pull-right"></span>
        </li>
        <li class="list-group-item">
            <span class="glyphicon  glyphicon-star-empty"></span>
            我的交易
            <span class="glyphicon  glyphicon-menu-right pull-right"></span>
        </li>
        <li class="list-group-item">
            <span class="glyphicon  glyphicon-star-empty"></span>
            我的回报
            <span class="glyphicon  glyphicon-menu-right pull-right"></span>
        </li>
    </ul>
</div>

<div class="col-xs-12">
    <ul class="list-group">
        <li class="list-group-item">
            <span class="glyphicon  glyphicon-warning-sign"></span>
            帮助中心
            <span class="glyphicon  glyphicon-menu-right pull-right"></span>
        </li>
    </ul>
</div>

@section scripts{

}